In [1]:
# Importing dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
from sqlalchemy import create_engine

In [2]:
# Establishing SQL connection
rds_connection_string = "postgres:Tenors2015@localhost:5432/education_taxes_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

# Beginning Data Analysis

In [6]:
# Determining the ZIP with the maximum per capita income
per_capita = pd.read_sql_query('select * from census_per_capita_income', con=engine).head()
maxpc = per_capita.sort_values('Per_Capita_Income', ascending=False)
maxpc

     ZIP  Per_Capita_Income
0  46511            32929.0
2  46528            26499.0
3  46544            25268.0
1  46526            24312.0
4  46553            24039.0